<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta name="author" content="vueghost">


  <title>Smart Green House</title>
  <script src="assets/js/get-url.js"></script>
  <!-- vendor css -->
  <link href="assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="assets/lib/Ionicons/css/ionicons.css" rel="stylesheet">
  <link href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
  <link href="assets/lib/highlightjs/github.css" rel="stylesheet">
  <link href="assets/lib/morris.js/morris.css" rel="stylesheet">

  <!-- magen-iot-admin CSS -->
  <link rel="stylesheet" href="assets/css/magen-iot-admin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">

  <!-- Thư viện biểu đ-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="assets/js/common.js"></script>
</head>

<body>

  <%- include header-sidebar.ejs %>
  <div class="kt-breadcrumb">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/home">Green housse</a>
      <a class="breadcrumb-item" href="/home">Thông tin biểu đồ</a>
      <span class="breadcrumb-item active">Biều đồ chi tiết</span>
    </nav>
  </div><!-- kt-breadcrumb -->

  <!-- ##### MAIN PANEL ##### -->
  <div class="kt-mainpanel">
    <div class="kt-pagetitle">
      <h5>Biểu đồ chi tiết</h5>
    </div><!-- kt-pagetitle -->

    <div class="kt-pagebody">

      <div class="row row-sm">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Nhiệt độ</h6>
            <!-- <p>A bar chart or bar graph is a chart with rectangular bars with lengths proportional to the values that
              they represent.</p> -->
            <div id="chartContainer" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="row row-sm">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Độ ẩm không khí</h6>
            <!-- <p>The stacked charts are used when data sets have to be broken down into their constituents.</p> -->
            <div id="chartContainer1" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="row row-sm mg-t-50">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Ánh sáng</h6>
            <!-- <p>A bar chart or bar graph is a chart with rectangular bars with lengths proportional to the values that
              they represent.</p> -->
            <div id="chartContainer2" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="row row-sm mg-t-50">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Độ ẩm đất</h6>
            <!-- <p>The stacked charts are used when data sets have to be broken down into their constituents.</p> -->
            <div id="chartContainer3" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="row row-sm mg-t-50">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Nồng độ CO2</h6>
            <!-- <p>A line graph is a type of chart which displays information as a series of data points connected by
              straight line segments.</p> -->
            <div id="chartContainer4" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="row row-sm mg-t-50">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Nồng độ O2</h6>
            <!-- <p>A line graph is a type of chart which displays information as a series of data points connected by
              straight line segments.</p> -->
            <div id="chartContainer5" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

    </div><!-- kt-pagebody -->
  </div><!-- kt-mainpanel -->

  <script src="assets/lib/jquery/jquery.js"></script>
  <script src="assets/lib/popper.js/popper.js"></script>
  <script src="assets/lib/bootstrap/bootstrap.js"></script>
  <script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
  <script src="assets/lib/moment/moment.js"></script>
  <script src="assets/lib/highlightjs/highlight.pack.js"></script>
  <script src="assets/lib/raphael/raphael.min.js"></script>
  <script src="assets/lib/morris.js/morris.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="assets/js/chart-morris-sensor-day.js"></script>
  <script src="assets/js/magen-iot-admin.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

  <!-- Biểu đồ 1 -->
</body>
<!-- Mirrored from qbgrow.com/magen/iot-admin/app/chart-morris.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Oct 2018 12:29:46 GMT -->

</html>