<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta name="author" content="vueghost">


  <title>Smart Green House</title>

  <!-- vendor css -->
  <link href="assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="assets/lib/Ionicons/css/ionicons.css" rel="stylesheet">
  <link href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
  <link href="assets/lib/highlightjs/github.css" rel="stylesheet">
  <link href="assets/lib/morris.js/morris.css" rel="stylesheet">

  <!-- magen-iot-admin CSS -->
  <link rel="stylesheet" href="assets/css/magen-iot-admin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">

  <!-- Thư viện biểu đ-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="assets/js/common.js"></script>
</head>

<body>

  <!-- ##### SIDEBAR LOGO ##### -->
  <div class="kt-sideleft-header">
    <div class="kt-logo"><a href="/home">Green House <small>Administrator</small></a></div>
  </div><!-- kt-sideleft-header -->

  <!-- ##### SIDEBAR MENU ##### -->
  <div class="kt-sideleft">
    <label class="kt-sidebar-label">Điều hướng</label>
    <ul class="nav kt-sideleft-menu">
      <li class="nav-item">
        <a href="/home" class="nav-link active">
          <i class="icon ion-ios-home"></i>
          <span>Trang chủ</span>
        </a>
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="#" class="nav-link with-sub">
          <i class="icon ion-ios-filing"></i>
          <span>Quá trình sinh trưởng</span>
        </a>
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="#" class="nav-link with-sub">
          <i class="icon ion-ios-analytics"></i>
          <span>Thông tin biểu đồ</span>
        </a>
        <ul class="nav-sub">
          <!-- <li class="nav-item"><a href="/chart-morris/sensor" class="nav-link sensor-parent">Biều đồ cảm biến</a> -->
          <li class="nav-item">
            <div class="nav-link sensor-parent">Biều đồ cảm biến</div>
            <ul class="nav-sub-sensor">
              <li class="nav-item"><a href="/chart-morris-sensor-day" class="nav-link">Biểu đồ theo ngày</a></li>
              <li class="nav-item"><a href="/chart-morris-sensor-month" class="nav-link">Biểu đồ theo tháng</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="nav-link engine-parent">Biểu đồ điều khiển</div>
            <ul class="nav-sub-engine">
              <li class="nav-item"><a href="/chart-morris-engine-day" class="nav-link">Biểu đồ theo ngày</a></li>
              <li class="nav-item"><a href="/chart-morris-engine-month" class="nav-link">Biểu đồ theo tháng</a></li>
            </ul>
          </li>
        </ul>
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="#" class="nav-link with-sub">
          <i class="icon ion-ios-list"></i>
          <span>Dữ liệu nhà kính</span>
        </a>
        <ul class="nav-sub">
          <li class="nav-item">
            <div class="nav-link data-sensor">Dữ liệu cảm biến</div>
            <ul class="nav-sub-data-sensor">
              <li class="nav-item"><a href="/table-datatable/sensor" class="nav-link">Dữ liệu theo ngày</a></li>
              <li class="nav-item"><a href="/table-datatable/sensor" class="nav-link">Dữ liệu theo tháng</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="nav-link data-engine">Dữ liệu điều khiển</div>
            <ul class="nav-sub-data-engine">
              <li class="nav-item"><a href="/table-datatable/engine" class="nav-link">Dữ liệu theo ngày</a></li>
              <li class="nav-item"><a href="/table-datatable/engine" class="nav-link">Dữ liệu theo tháng</a></li>
            </ul>
          </li>
        </ul>
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="#" class="nav-link with-sub">
          <i class="icon ion-ios-bookmarks"></i>
          <span>Thông tin cây trồng</span>
        </a>
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="/profile" class="nav-link">
          <i class="icon ion-ios-briefcase"></i>
          <span>Thông tin người dùng</span>
        </a>
      </li><!-- nav-item -->
    </ul>
  </div><!-- kt-sideleft -->

  <!-- ##### HEAD PANEL ##### -->
  <div class="kt-headpanel">
    <div class="kt-headpanel-left">
      <a id="naviconMenu" href="#" class="kt-navicon d-none d-lg-flex"><img src="http://qbgrow.com/magen/iot-admin/img/menu.svg"
          width="30" /></a>
      <a id="naviconMenuMobile" href="#" class="kt-navicon d-lg-none"><i class="icon ion-navicon-round"></i></a>
    </div><!-- kt-headpanel-left -->

    <div class="kt-headpanel-right">
      <div class="dropdown dropdown-notification">
        <a href="#" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
          <img src="http://qbgrow.com/magen/iot-admin/img/notification.svg" height="24" />
          <!-- start: if statement -->
          <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
          <!-- end: if statement -->
        </a>
        <div class="dropdown-menu wd-300 pd-0-force">
          <div class="dropdown-menu-header">
            <label>Notifications</label>
            <a href="#">Mark All as Read</a>
          </div><!-- d-flex -->

          <div class="media-list">
            <!-- loop starts here -->
            <a href="#" class="media-list-link read">
              <div class="media pd-x-20 pd-y-15">
                <img src="assets/img/img8.jpg" class="wd-40 rounded-circle" alt="">
                <div class="media-body">
                  <p class="tx-13 mg-b-0"><strong class="tx-medium">Suzzeth Bungaos</strong> tagged you and 18 others
                    in a post.</p>
                  <span class="tx-12">October 03, 2017 8:45am</span>
                </div>
              </div><!-- media -->
            </a>
            <!-- loop ends here -->
            <a href="#" class="media-list-link read">
              <div class="media pd-x-20 pd-y-15">
                <img src="assets/img/img9.jpg" class="wd-40 rounded-circle" alt="">
                <div class="media-body">
                  <p class="tx-13 mg-b-0"><strong class="tx-medium">Mellisa Brown</strong> appreciated your work
                    <strong class="tx-medium">The Social Network</strong></p>
                  <span class="tx-12">October 02, 2017 12:44am</span>
                </div>
              </div><!-- media -->
            </a>
            <a href="#" class="media-list-link read">
              <div class="media pd-x-20 pd-y-15">
                <img src="assets/img/img10.jpg" class="wd-40 rounded-circle" alt="">
                <div class="media-body">
                  <p class="tx-13 mg-b-0">20+ new items added are for sale in your <strong class="tx-medium">Sale Group</strong></p>
                  <span class="tx-12">October 01, 2017 10:20pm</span>
                </div>
              </div><!-- media -->
            </a>
            <a href="#" class="media-list-link read">
              <div class="media pd-x-20 pd-y-15">
                <img src="assets/img/img5.jpg" class="wd-40 rounded-circle" alt="">
                <div class="media-body">
                  <p class="tx-13 mg-b-0"><strong class="tx-medium">Julius Erving</strong> wants to connect with you on
                    your conversation with <strong class="tx-medium">Ronnie Mara</strong></p>
                  <span class="tx-12">October 01, 2017 6:08pm</span>
                </div>
              </div><!-- media -->
            </a>
            <div class="media-list-footer">
              <a href="#" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show All Notifications</a>
            </div>
          </div><!-- media-list -->
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
      <div class="dropdown dropdown-profile">
        <a href="#" class="nav-link nav-link-profile" data-toggle="dropdown">
          <img src="assets/img/img3.jpg" class="wd-32 rounded-circle" alt="">
          <span class="logged-name"><span class="hidden-xs-down">Jane Doe</span> <i class="fa fa-angle-down mg-l-3"></i></span>
        </a>
        <div class="dropdown-menu wd-200">
          <ul class="list-unstyled user-profile-nav">
            <li><a href="#"><i class="icon ion-ios-person"></i> Edit Profile</a></li>
            <li><a href="#"><i class="icon ion-ios-gear"></i> Settings</a></li>
            <li><a href="#"><i class="icon ion-ios-download"></i> Downloads</a></li>
            <li><a href="#"><i class="icon ion-ios-star"></i> Favorites</a></li>
            <li><a href="#"><i class="icon ion-ios-folder"></i> Collections</a></li>
            <li><a href="#"><i class="icon ion-power"></i> Sign Out</a></li>
          </ul>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
    </div><!-- kt-headpanel-right -->
  </div><!-- kt-headpanel -->
  <div class="kt-breadcrumb">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/home">Green housse</a>
      <a class="breadcrumb-item" href="/home">Thông tin biểu đồ</a>
      <span class="breadcrumb-item active">Biều đồ chi tiết</span>
    </nav>
  </div><!-- kt-breadcrumb -->

  <!-- ##### MAIN PANEL ##### -->
  <div class="kt-mainpanel">
    <div class="kt-pagetitle">
      <h5>Biểu đồ chi tiết</h5>
    </div><!-- kt-pagetitle -->

    <div class="kt-pagebody">

      <div class="row row-sm">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Hệ thống quạt thông gió</h6>
            <!-- <p>A bar chart or bar graph is a chart with rectangular bars with lengths proportional to the values that
              they represent.</p> -->
            <div id="engine1" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="row row-sm">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Hệ thống đèn</h6>
            <!-- <p>The stacked charts are used when data sets have to be broken down into their constituents.</p> -->
            <div id="engine2" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="row row-sm mg-t-50">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Hệ thống mái che</h6>
            <!-- <p>A bar chart or bar graph is a chart with rectangular bars with lengths proportional to the values that
              they represent.</p> -->
            <div id="engine3" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->

      <div class="row row-sm mg-t-50">
        <div class="col-xl-12">
          <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Hệ thống tưới nước</h6>
            <!-- <p>The stacked charts are used when data sets have to be broken down into their constituents.</p> -->
            <div id="engine4" class="ht-200 ht-sm-400"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
      </div><!-- row -->
    </div><!-- kt-pagebody -->
  </div><!-- kt-mainpanel -->

  <script src="assets/lib/jquery/jquery.js"></script>
  <script src="assets/lib/popper.js/popper.js"></script>
  <script src="assets/lib/bootstrap/bootstrap.js"></script>
  <script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
  <script src="assets/lib/moment/moment.js"></script>
  <script src="assets/lib/highlightjs/highlight.pack.js"></script>
  <script src="assets/lib/raphael/raphael.min.js"></script>
  <script src="assets/lib/morris.js/morris.js"></script>

  <script src="assets/js/chart-morris-engine-month.js"></script>
  <script src="assets/js/magen-iot-admin.js"></script>
  <script src="assets/js/chart.morris.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- Biểu đồ 1 -->
</body>
<!-- Mirrored from qbgrow.com/magen/iot-admin/app/chart-morris.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Oct 2018 12:29:46 GMT -->

</html>