<div class="kt-sideleft-header">
  <div class="kt-logo"><a href="/home">Green House<small>Administrator</small></a></div>
</div><!-- kt-sideleft-header -->

<!-- ##### SIDEBAR MENU ##### -->
<div class="kt-sideleft">
  <label class="kt-sidebar-label">Điều hướng</label>
  <ul class="nav kt-sideleft-menu">
    <li class="nav-item">
      <a href="/home" class="nav-link active">
        <i class="icon ion-ios-home"></i>
        <span>Trang chủ</span>
      </a>
    </li><!-- nav-item -->
    <li class="nav-item">
      <a href="#" class="nav-link with-sub">
        <i class="icon ion-ios-filing"></i>
        <span>Quá trình sinh trưởng</span>
      </a>
    </li><!-- nav-item -->
    <li class="nav-item">
      <a href="#" class="nav-link with-sub">
        <i class="icon ion-ios-analytics"></i>
        <span>Thông tin biểu đồ</span>
      </a>
      <ul class="nav-sub">
        <!-- <li class="nav-item"><a href="/chart-morris/sensor" class="nav-link sensor-parent">Biều đồ cảm biến</a> -->
        <li class="nav-item">
          <div class="nav-link sensor-parent">Biều đồ cảm biến</div>
          <ul class="nav-sub-sensor">
            <li class="nav-item"><a href="/chart-morris-sensor-day" class="nav-link">Biểu đồ theo ngày</a></li>
            <li class="nav-item"><a href="/chart-morris-sensor-month" class="nav-link">Biểu đồ theo tháng</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <div class="nav-link engine-parent">Biểu đồ điều khiển</div>
          <ul class="nav-sub-engine">
            <li class="nav-item"><a href="/chart-morris-engine-day" class="nav-link">Biểu đồ theo ngày</a></li>
            <li class="nav-item"><a href="/chart-morris-engine-month" class="nav-link">Biểu đồ theo tháng</a></li>
          </ul>
        </li>
      </ul>
    </li><!-- nav-item -->
    <li class="nav-item">
      <a href="#" class="nav-link with-sub">
        <i class="icon ion-ios-list"></i>
        <span>Dữ liệu nhà kính</span>
      </a>
      <ul class="nav-sub">
        <li class="nav-item">
          <div class="nav-link data-sensor">Dữ liệu cảm biến</div>
          <ul class="nav-sub-data-sensor">
            <li class="nav-item"><a href="/table-datatable/sensor" class="nav-link">Dữ liệu theo ngày</a></li>
            <li class="nav-item"><a href="/table-datatable/sensor" class="nav-link">Dữ liệu theo tháng</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <div class="nav-link data-engine">Dữ liệu điều khiển</div>
          <ul class="nav-sub-data-engine">
            <li class="nav-item"><a href="/table-datatable/engine" class="nav-link">Dữ liệu theo ngày</a></li>
            <li class="nav-item"><a href="/table-datatable/engine" class="nav-link">Dữ liệu theo tháng</a></li>
          </ul>
        </li>
      </ul>
    </li><!-- nav-item -->
    <li class="nav-item">
      <a href="#" class="nav-link with-sub">
        <i class="icon ion-ios-bookmarks"></i>
        <span>Thông tin cây trồng</span>
      </a>
    </li><!-- nav-item -->
    <li class="nav-item">
      <a href="/profile" class="nav-link">
        <i class="icon ion-ios-briefcase"></i>
        <span>Thông tin người dùng</span>
      </a>
    </li><!-- nav-item -->
  </ul>
</div><!-- kt-sideleft -->

<!-- ##### HEAD PANEL ##### -->
<div class="kt-headpanel">
  <div class="kt-headpanel-left">
    <a id="naviconMenu" href="#" class="kt-navicon d-none d-lg-flex"><img src="http://qbgrow.com/magen/iot-admin/img/menu.svg"
        width="30" /></a>
    <a id="naviconMenuMobile" href="#" class="kt-navicon d-lg-none"><i class="icon ion-navicon-round"></i></a>
  </div><!-- kt-headpanel-left -->

  <div class="kt-headpanel-right">
    <div class="dropdown dropdown-notification">
      <a href="#" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
        <img src="http://qbgrow.com/magen/iot-admin/img/notification.svg" height="24" />

        <!-- start: if statement -->
        <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
        <!-- end: if statement -->
      </a>

    </div><!-- dropdown -->
    <div class="dropdown dropdown-profile">
      <a href="#" class="nav-link nav-link-profile" data-toggle="dropdown">
        <img src="assets/img/img3.jpg" class="wd-32 rounded-circle" alt="">
        <span class="logged-name"><span class="hidden-xs-down">Green House</span> <i class="fa fa-angle-down mg-l-3"></i></span>
      </a>
      <div class="dropdown-menu wd-200">
        <ul class="list-unstyled user-profile-nav">
          <li><a href="#"><i class="icon ion-ios-person"></i>Cập nhật thông tin</a></li>
          <li><a href="#"><i class="icon ion-ios-gear"></i> Cài đặt hệ thống</a></li>
          <li id="logout"><a href="/log-out"><i class="icon ion-power"></i> Đăng xuất</a></li>
        </ul>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div><!-- kt-headpanel-right -->
</div><!-- kt-headpanel -->