<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta name="author" content="vueghost">

  <title>Smart Green House</title>
  <script src="assets/js/get-url.js"></script>
  <!-- vendor css -->
  <link rel="stylesheet" href="assets/css/magen-iot-admin.css">
  <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="assets/lib/Ionicons/css/ionicons.css" rel="stylesheet">
  <!-- <script src="assets/lib/jquery/jquery.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="assets/lib/bootstrap/bootstrap.js"></script>
  <script src="assets/lib/popper.js/popper.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
  <script src="assets/js/magen-iot-admin.js"></script>
  <script src="assets/js/dashboard.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="assets/js/index.js"></script>
  <script src="assets/js/common.js"></script>
</head>

<body style="background-color:white;">
  
  <%- include header-sidebar.ejs %>
  <div class="kt-breadcrumb">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/home">Green house</a>
      <span class="breadcrumb-item active">Trang chủ</span>
    </nav>
  </div><!-- kt-breadcrumb -->
  <!-- ##### MAIN PANEL ##### -->
  <div class="kt-mainpanel">
    <div class="kt-pagetitle">
      <h5>Trang chủ</h5>
    </div><!-- kt-pagetitle -->
    <div class="kt-pagebody">
      <div class="row row-sm">
        <div class="col-lg-12">
          <div class="row row-sm">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body pd-b-40">
                  <img src="assets/img/temperature.png" width="60" class="card-icon" />
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Nhiệt độ</h6>
                  <h2 class="tx-roboto tx-inverse"><p></p><small></small></h2>
                  <p class="tx-12"><span class="tx-success" id ="clock"></span></p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body pd-b-40">
                  <img src="assets/img/air-humidity.png" width="60" class="card-icon" />
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Độ ẩm không khi</h6>
                  <h2 class="tx-roboto tx-inverse"><p></p><small></small></h2>
                  <p class="tx-12"><span class="tx-success"></span> </p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
          </div><!-- row -->
          <div class="row row-sm">
            <div class="col-lg-6">
              <div class="card mg-t-20">
                <div class="card-body pd-b-40 ">
                  <img src="assets/img/light.png" width="60" class="card-icon" />
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Ánh sáng</h6>
                  <h2 class="tx-lato tx-inverse"><p></p><small></small></h2>
                  <p class="tx-12"><span class="tx-success"></span> </p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
            <div class="col-lg-6 mg-t-20">
              <div class="card">
                <div class="card-body pd-b-40">
                  <img src="assets/img/soil-moisture.png" width="60" class="card-icon" />
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Độ ẩm đất</h6>
                  <h2 class="tx-roboto tx-inverse"><p></p> <small></small></h2>
                  <p class="tx-12"><span class="tx-success"></span> </p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
          </div><!-- row -->
          <div class="row row-sm">
            <div class="col-lg-6 mg-t-20">
              <div class="card">
                <div class="card-body pd-b-40">
                  <img src="assets/img/co2.jpg" width="60" class="card-icon" />
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">CO2</h6>
                  <h2 class="tx-roboto tx-inverse"><p></p><small></small></h2>
                  <p class="tx-12"><span class="tx-success"></span> </p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
            <div class="col-lg-6">
              <div class="card mg-t-20">
                <div class="card-body pd-b-40 ">
                  <img src="assets/img/o2.png" width="60" class="card-icon" />
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">O2</h6>
                  <h2 class="tx-lato tx-inverse1"><p></p>ppm<small></small></h2>
                  <p class="tx-12"><span class="tx-success"></span> </p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
          </div><!-- row -->
        </div><!-- col-8 -->
      </div><!-- row -->
    </div><!-- kt-pagebody -->
    <!-- Các control điều kiển -->
    <div class="kt-pagebody">
      <div class="kt-pagetitle">
        <h5>Điều khiển thiết bị</h5>
      </div>
      <div class="row row-sm">
        <div class="col-lg-12">
          <div class="row row-sm">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body pd-b-40">
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Hệ thống đèn</h6>
                  <div class="row">
                    <div class="col-8">
                      <div class="row change_light" style="height: 50px;">
                        <div class=" col-4">
                          <img src="assets/img/pic_bulbon.gif" class="card-icon light-green">
                        </div>
                        <div class="col-4">
                          <img src="assets/img/pic_bulbon.gif" class="card-icon light-green">
                        </div>
                        <div class="col-4">
                          <img src="assets/img/pic_bulbon.gif" class="card-icon light-green">
                        </div>
                      </div>
                      <div class="row" style="height: 30px;">
                      </div>
                      <div class="row change_light" style="height: 50px;">
                        <div class="col-4">
                          <img src="assets/img/pic_bulbon.gif" class="card-icon light-green">
                        </div>
                        <div class="col-4">
                          <img src="assets/img/pic_bulbon.gif" class="card-icon light-green">
                        </div>
                        <div class="col-4">
                          <img src="assets/img/pic_bulbon.gif" class="card-icon light-green">
                        </div>
                      </div>
                    </div>
                    <div class="col-4" id="toggle_light">
                      <input type="checkbox" checked data-toggle="toggle" data-size="small" />
                    </div>
                  </div>
                </div><!-- card-body -->
              </div>
            </div><!-- col-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body pd-b-40">
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Hệ thống tưới nước</h6>
                  <div class="row">
                    <div class="col-8" style="height: 130px;">
                      <img src="assets/img/wartering.gif" class="card-icon wartering" style="top:0; right: 36%;height: 130px; ">
                    </div>
                    <div class="col-4" id="toggle_wartering">
                      <input type="checkbox" checked data-toggle="toggle" data-size="small" />
                    </div>
                  </div>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
          </div><!-- row -->
          <div class="row row-sm">
            <div class="col-lg-6">
              <div class="card mg-t-20">
                <div class="card-body pd-b-40 ">
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Hệ thống quạt thông gió</h6>
                  <div class="row">
                    <div class="col-8" style="height: 130px;">
                      <img src="assets/img/ventilation-on.gif" class="card-icon ventilation" style="top:0; right: 36%;height: 130px; ">
                    </div>
                    <div class="col-4" id="toggle_ventilation">
                      <input type="checkbox" checked data-toggle="toggle" data-size="small" />
                    </div>
                  </div>
                  <div class="container-fluid">
                  </div>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
            <div class="col-lg-6 mg-t-20">
              <div class="card">
                <div class="card-body pd-b-40">
                  <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Hệ thống mái che</h6>
                  <div class="row">
                    <div class="col-8" style="height: 130px;">
                      <img src="assets/img/roof-off.png" class="card-icon roof" style="top:0; right: 36%;height: 130px; ">
                    </div>
                    <div class="col-4" id="toggle_roof">
                      <input type="checkbox" checked data-toggle="toggle" data-size="small" />
                    </div>
                  </div>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col-6 -->
          </div><!-- row -->
        </div><!-- col-8 -->
      </div><!-- row -->
    </div><!-- kt-pagebody -->
  </div><!-- kt-mainpanel -->
</body>

</html>